<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:insert="inc/header">
    <title>Thiết lập Đoàn</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">

</head>

<body>
<div id="main-wrapper">
    <div th:insert="inc/form-layout"></div>
    <!--**********************************
        Content body start
    ***********************************-->

    <div class="content-body">

        <div class="row page-titles mx-0">
            <div class="col p-md-0">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="javascript:void(0)">Dashboard</a></li>
                    <li class="breadcrumb-item"><a href="./doan.html">Quản lý đoàn</a></li>
                    <li class="breadcrumb-item active"><a href="javascript:void(0)">Thiết lập đoàn</a></li>
                </ol>
            </div>
        </div>
        <!-- row -->

        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-lg-12 mb-3">
                                    <a th:href="@{/doan}" style="float:left;">
                                        <button class="btn btn-primary"><i class="fa fa-arrow-left"
                                                                           aria-hidden="true"></i> Quay lại
                                        </button>
                                    </a>
                                </div>
                            </div>
                            <ul class="nav nav-pills mb-3">
                                <li class="nav-item">
                                    <a href="#navpills-1" class="nav-link active" data-toggle="tab"
                                       aria-expanded="false">Nhân viên của đoàn</a>
                                </li>
                                <li class="nav-item">
                                    <a href="#navpills-2" class="nav-link" data-toggle="tab" aria-expanded="false">Khách
                                        của đoàn</a>
                                </li>
                                <li class="nav-item">
                                    <a href="#navpills-3" class="nav-link" data-toggle="tab" aria-expanded="false">Chi
                                        phí của đoàn</a>
                                </li>
                            </ul>
                            <div class="tab-content br-n pn mt-4">
                                <div class="alert alert-primary" role="alert" th:text="${success}"
                                     th:if="${success}"></div>
                                <div class="alert alert-danger" role="alert" th:text="${error}" th:if="${error}"></div>
                                <!--*****
                                Tab 1
                                *****-->
                                <div id="navpills-1" class="tab-pane active">
                                    <div class="row align-items-center">
                                        <div class="col-md-6">
                                            <h4 style="float:left;">DANH SÁCH NHÂN VIÊN - ĐOÀN</h4>
                                        </div>
                                        <div class="col-md-6">
                                            <button class="btn btn-primary" style="float:right;" data-toggle="modal"
                                                    data-target="#ThemNhanVien"><span style="margin-right: 10px">Thêm mới </span><i
                                                    class="fa fa-plus"></i></button>
                                        </div>
                                        <div class="modal fade" id="ThemNhanVien" tabindex="-1" role="dialog"
                                             aria-labelledby="exampleModalLabel" aria-hidden="true">
                                            <div class="modal-dialog" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h3 class="modal-title" id="exampleModalLabel"
                                                            style="margin: auto;">Nhân viên</h3>
                                                    </div>
                                                    <div class="modal-body">
                                                        <div th:if="${maDoan} and ${dsNhanVienKhongThuocDoan}">
                                                            <form method="post"
                                                                  th:action="@{/doan/thietlap/themNhiemVuNhanVien}">
                                                                <div class="form-group">
                                                                    <label>Nhân viên <span
                                                                            class="text-danger">*</span></label>
                                                                    <select class="form-control" name="maNhanVien"
                                                                            required>
                                                                        <option value="">-- Chọn nhân viên --</option>
                                                                        <!-- for danh sách nhân viên -->
                                                                        <option th:each="nv : ${dsNhanVienKhongThuocDoan}"
                                                                                th:value="${nv.maNhanVien}"
                                                                                th:text="${nv.maNhanVien} + ' - ' + ${nv.tenNhanVien}"></option>
                                                                    </select>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label>Nhiệm vụ <span
                                                                            class="text-danger">*</span></label>
                                                                    <input th:value="${maDoan}" type="hidden"
                                                                           name="maDoan">
                                                                    <input type="text" name="nhiemVu"
                                                                           class="form-control"
                                                                           placeholder="Nhập nhiệm vụ..." required>
                                                                </div>
                                                                <button type="button" class="btn btn-danger"
                                                                        data-dismiss="modal">Cancel
                                                                </button>
                                                                <input type="submit" value="Thêm mới" name="themmoiNV"
                                                                       class="btn btn-success" style="float:right;">
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="table-responsive">
                                            <table class="table table-bordered table-hover zero-configuration dataTable">
                                                <thead class="text-primary">
                                                <tr>
                                                    <th class="th-center-bold">#</th>
                                                    <th class="th-center-bold">Mã nhân viên</th>
                                                    <th class="th-center-bold">Tên nhân viên</th>
                                                    <th class="th-center-bold">SĐT</th>
                                                    <th class="th-center-bold">Nhiệm vụ</th>
                                                    <th class="th-center-bold">Sửa</th>
                                                    <th class="th-center-bold">Xóa</th>
                                                </tr>
                                                </thead>
                                                <div th:if="${dataNhanViens}">
                                                    <tbody th:each="dataNhanVien : ${dataNhanViens}">
                                                    <tr>
                                                        <td th:text="${dataNhanViens.indexOf(dataNhanVien)} + 1"></td>
                                                        <td th:text="${dataNhanVien.nhanVienDTO.maNhanVien}"></td>
                                                        <td th:text="${dataNhanVien.nhanVienDTO.tenNhanVien}"></td>
                                                        <td th:text="${dataNhanVien.nhanVienDTO.SDT}"></td>
                                                        <td th:text="${dataNhanVien.nhiemVuNhanVienDTO.tenNhiemVu}"></td>
                                                        <td class="td-center">
                                                            <button type="button" class="btn btn-primary"
                                                                    data-toggle="modal"
                                                                    th:data-target="'#SuaNVId' + ${dataNhanVien.nhanVienDTO.maNhanVien}">
                                                                <i class="fa fa-pencil"></i>
                                                            </button>
                                                        </td>
                                                        <td class="td-center">
                                                            <button type="button" class="btn btn-danger"
                                                                    data-toggle="modal"
                                                                    th:data-target="'#XoaNVId' + ${dataNhanVien.nhanVienDTO.maNhanVien}">
                                                                <i class="fa fa-close"></i>
                                                            </button>
                                                        </td>
                                                    </tr>
                                                    <div class="modal fade"
                                                         th:id="'SuaNVId' + ${dataNhanVien.nhanVienDTO.maNhanVien}"
                                                         tabindex="-1" role="dialog"
                                                         aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                        <div class="modal-dialog" role="document">
                                                            <div class="modal-content">
                                                                <div class="modal-header">
                                                                    <h3 class="modal-title" id="exampleModalLabel"
                                                                        style="margin: auto;">Nhân viên</h3>
                                                                </div>
                                                                <div class="modal-body">
                                                                    <form method="post"
                                                                          th:action="@{/doan/thietlap/suaNhiemVuNhanVien}">
                                                                        <div class="form-group">
                                                                            <label>Nhân viên <span
                                                                                    class="text-danger">*</span></label>
                                                                            <input th:value="${dataNhanVien.nhanVienDTO.maNhanVien}"
                                                                                   type="text"
                                                                                   name="maNhanVien"
                                                                                   class="form-control"
                                                                                   readonly="readonly">
                                                                        </div>
                                                                        <div class="form-group">
                                                                            <label>Nhiệm vụ <span
                                                                                    class="text-danger">*</span></label>
                                                                            <input th:value="${dataNhanVien.nhiemVuNhanVienDTO.maDoan}"
                                                                                   type="hidden" name="maDoan">
                                                                            <input th:value="${dataNhanVien.nhiemVuNhanVienDTO.tenNhiemVu}"
                                                                                   type="text"
                                                                                   name="tenNhiemVu"
                                                                                   class="form-control"
                                                                                   placeholder="Nhập nhiệm vụ..."
                                                                                   required>
                                                                        </div>
                                                                        <button type="button" class="btn btn-danger"
                                                                                data-dismiss="modal">Cancel
                                                                        </button>
                                                                        <input type="submit" value="Sửa" name="suaNV"
                                                                               class="btn btn-success"
                                                                               style="float:right;">
                                                                    </form>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="modal fade"
                                                         th:id="'XoaNVId' + ${dataNhanVien.nhanVienDTO.maNhanVien}"
                                                         tabindex="-1" role="dialog"
                                                         aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                        <div class="modal-dialog" role="document">
                                                            <div class="modal-content">
                                                                <div class="modal-header">
                                                                    <h3 class="modal-title" id="exampleModalLabel"
                                                                        style="margin: auto;text-align: center;">Are you
                                                                        sure to delete this?</h3>
                                                                </div>
                                                                <div class="modal-footer" style="margin: auto;">
                                                                    <button type="button" class="btn btn-primary"
                                                                            data-dismiss="modal">Cancel
                                                                    </button>
                                                                    <form method="post"
                                                                          th:action="@{/doan/thietlap/xoaNhiemVuNhanVien}">
                                                                        <input th:value="${dataNhanVien.nhiemVuNhanVienDTO.maDoan}"
                                                                               type="hidden" name="maDoan">
                                                                        <button name="maNhanVien" type="submit"
                                                                                class="btn btn-danger"
                                                                                th:value="${dataNhanVien.nhanVienDTO.maNhanVien}">
                                                                            Yes, delete it !
                                                                        </button>
                                                                    </form>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    </tbody>
                                                </div>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <!--*****
                                Tab 2
                                *****-->
                                <div id="navpills-2" class="tab-pane">
                                    <div class="row align-items-center">
                                        <div class="col-md-6">
                                            <h4 style="float:left;">DANH SÁCH KHÁCH HÀNG - ĐOÀN</h4>
                                        </div>
                                        <div class="col-md-6">
                                            <button class="btn btn-primary" style="float:right;" data-toggle="modal"
                                                    data-target="#ThemKhachHang"><span style="margin-right: 10px">Thêm mới </span><i
                                                    class="fa fa-plus"></i></button>
                                        </div>
                                        <div class="modal fade" id="ThemKhachHang" tabindex="-1" role="dialog"
                                             aria-labelledby="exampleModalLabel" aria-hidden="true">
                                            <div class="modal-dialog" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h3 class="modal-title" id="exampleModalLabel"
                                                            style="margin: auto;">Khách hàng</h3>
                                                    </div>
                                                    <div class="modal-body">
                                                        <div th:if="${maDoan} and ${dsKhachHangKhongThuocDoan}">
                                                            <form method="post"
                                                                  th:action="@{/doan/thietlap/themChiTietDoan}">
                                                                <div class="form-group">
                                                                    <label>Khách hàng <span
                                                                            class="text-danger">*</span></label>
                                                                    <select class="form-control" name="maKhachHang"
                                                                            required>
                                                                        <option value="">-- Chọn khách hàng --</option>
                                                                        <!-- for danh sách khách hàng -->
                                                                        <option th:each="kh : ${dsKhachHangKhongThuocDoan}"
                                                                                th:value="${kh.maKhachHang}"
                                                                                th:text="${kh.maKhachHang} + ' - ' + ${kh.tenKhachHang}"></option>
                                                                    </select>
                                                                </div>
                                                                <input th:value="${maDoan}" type="hidden"
                                                                       name="maDoan">
                                                                <button type="button" class="btn btn-danger"
                                                                        data-dismiss="modal">Cancel
                                                                </button>
                                                                <input type="submit" value="Thêm mới" name="themmoiKH"
                                                                       class="btn btn-success" style="float:right;">
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="table-responsive">
                                            <table class="table table-bordered table-hover zero-configuration dataTable">
                                                <thead class="text-primary">
                                                <tr>
                                                    <th class="th-center-bold">#</th>
                                                    <th class="th-center-bold">Mã khách hàng</th>
                                                    <th class="th-center-bold">Tên khách hàng</th>
                                                    <th class="th-center-bold">SĐT</th>
                                                    <th class="th-center-bold">Xóa</th>
                                                </tr>
                                                </thead>
                                                <div th:if="${dataKhachs}">
                                                    <tbody th:each="dataKhach : ${dataKhachs}">
                                                    <tr>
                                                        <td th:text="${dataKhachs.indexOf(dataKhach)} + 1"></td>
                                                        <td th:text="${dataKhach.khachHangDTO.maKhachHang}"></td>
                                                        <td th:text="${dataKhach.khachHangDTO.tenKhachHang}"></td>
                                                        <td th:text="${dataKhach.khachHangDTO.SDT}"></td>
                                                        <td class="td-center">
                                                            <button type="button" class="btn btn-danger"
                                                                    data-toggle="modal"
                                                                    th:data-target="'#XoaKHId' + ${dataKhach.khachHangDTO.maKhachHang}">
                                                                <i class="fa fa-close"></i>
                                                            </button>
                                                        </td>
                                                    </tr>
                                                    <div class="modal fade"
                                                         th:id="'XoaKHId' + ${dataKhach.khachHangDTO.maKhachHang}"
                                                         tabindex="-1" role="dialog"
                                                         aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                        <div class="modal-dialog" role="document">
                                                            <div class="modal-content">
                                                                <div class="modal-header">
                                                                    <h3 class="modal-title" id="exampleModalLabel"
                                                                        style="margin: auto;text-align: center;">Are you
                                                                        sure to delete this?</h3>
                                                                </div>
                                                                <div class="modal-footer" style="margin: auto;">
                                                                    <button type="button" class="btn btn-primary"
                                                                            data-dismiss="modal">Cancel
                                                                    </button>
                                                                    <form method="post"
                                                                          th:action="@{/doan/thietlap/xoaChiTietDoan}">
                                                                        <input th:value="${maDoan}" type="hidden"
                                                                               name="maDoan">
                                                                        <button name="maKhachHang" type="submit"
                                                                                class="btn btn-danger"
                                                                                th:value="${dataKhach.khachHangDTO.maKhachHang}">
                                                                            Yes, delete it !
                                                                        </button>
                                                                    </form>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    </tbody>
                                                </div>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <!--*****
                                Tab 3
                                *****-->
                                <div id="navpills-3" class="tab-pane">
                                    <div class="row align-items-center">
                                        <div class="col-md-6">
                                            <h4 style="float:left;">DANH SÁCH CHI PHÍ - ĐOÀN</h4>
                                        </div>
                                        <div class="col-md-6">
                                            <button class="btn btn-primary" style="float:right;" data-toggle="modal"
                                                    data-target="#ThemChiPhi"><span
                                                    style="margin-right: 10px">Thêm mới </span><i
                                                    class="fa fa-plus"></i></button>
                                        </div>
                                        <div th:if="${maDoan} and ${loaiChiPhiDTOs} and ${capPhatMaChiPhi}">
                                            <div class="modal fade" id="ThemChiPhi" tabindex="-1" role="dialog"
                                                 aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                <div class="modal-dialog" role="document">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h3 class="modal-title" id="exampleModalLabel"
                                                                style="margin: auto;">Thông tin chi phí</h3>
                                                        </div>
                                                        <div class="modal-body">
                                                            <form id="themChiPhi" th:action="@{/doan/thietlap/themChiPhi}" method="post">
                                                                <div class="form-group">
                                                                    <label for="machiphi">Mã chi phí <span
                                                                            class="text-danger">*</span></label>
                                                                    <div class="input-group">
                                                                        <input type="hidden" name="maDoan" th:value="${maDoan}">
                                                                        <input type="text" name="maChiPhi" id="machiphi"
                                                                               class="form-control"
                                                                               placeholder="Số liệu tự cấp phát.."
                                                                               readonly="readonly">
                                                                        <div class="input-group-append">
                                                                            <button id="btn-chi-phi"
                                                                                    class="btn btn-outline-dark"
                                                                                    type="button"
                                                                                    onclick="CapPhatMaChiPhi()"><i
                                                                                    class="fa fa-plus"></i></button>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label >Loại chi phí <span
                                                                            class="text-danger">*</span></label>
                                                                    <select class="form-control" name="maloaiChiPhi" required>
                                                                        <option value="">-- Chọn loại chi phí --</option>
                                                                        <!-- for option list loại chi phí -->
                                                                        <option th:each="l : ${loaiChiPhiDTOs}"
                                                                                th:value="${l.maLoaiChiPhi}"
                                                                                th:text="${l.maLoaiChiPhi} + ' - ' + ${l.tenLoai}"></option>
                                                                    </select>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label >Thành tiền <span
                                                                            class="text-danger">*</span></label>
                                                                    <input type="number" name="thanhTien"
                                                                           class="form-control"
                                                                           placeholder="Nhập giá..."
                                                                           required>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label >Ghi chú <span
                                                                            class="text-danger">*</span></label>
                                                                    <textarea class="form-control h-150px" rows="4"
                                                                              id="GhiChu" form="themChiPhi"
                                                                              name="chiTiet"></textarea>
                                                                </div>
                                                                <button type="button" class="btn btn-danger"
                                                                        data-dismiss="modal">Cancel
                                                                </button>
                                                                <input type="submit" value="Thêm mới" name="themmoi"
                                                                       class="btn btn-success" style="float:right;">
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="table-responsive">
                                            <table class="table table-bordered table-hover zero-configuration dataTable">
                                                <thead class="text-primary">
                                                <tr>
                                                    <th style="width:5%;" class="th-center-bold">#</th>
                                                    <th style="width:15%;" class="th-center-bold">Mã chi phí</th>
                                                    <th style="width:20%;" class="th-center-bold">Loại chi phí</th>
                                                    <th style="width:15%;" class="th-center-bold">Thành tiền</th>
                                                    <th style="width:25%;" class="th-center-bold">Ghi chú</th>
                                                    <th style="width:10%;" class="th-center-bold">Sửa</th>
                                                    <th style="width:10%;" class="th-center-bold">Xóa</th>
                                                </tr>
                                                </thead>
                                                <div th:if="${dataChiPhis}">
                                                    <tbody th:each="cp : ${dataChiPhis}">
                                                    <tr>
                                                        <td th:text="${dataChiPhis.indexOf(cp)} + 1"
                                                            style="width:5%;"></td>
                                                        <td th:text="${cp.chiPhiDTO.maChiPhi}" style="width:15%;"></td>
                                                        <td th:text="${cp.loaiChiPhiDTO.tenLoai}"
                                                            style="width:20%;"></td>
                                                        <td th:text="${cp.chiPhiDTO.soTien}" style="width:15%;"></td>
                                                        <td th:text="${cp.chiPhiDTO.ghiChu}" style="width:25%;"></td>
                                                        <td style="width:10%;" class="td-center">
                                                            <button type="button" class="btn btn-primary"
                                                                    data-toggle="modal" th:data-target="'#SuaChiPhiId' + ${cp.chiPhiDTO.maChiPhi}">
                                                                <i class="fa fa-pencil"></i>
                                                            </button>
                                                        </td>
                                                        <td style="width:10%;" class="td-center">
                                                            <button type="button" class="btn btn-danger"
                                                                    data-toggle="modal"
                                                                    th:data-target="'#XoaChiPhiId' + ${cp.chiPhiDTO.maChiPhi}">
                                                                <i class="fa fa-close"></i>
                                                            </button>
                                                        </td>
                                                    </tr>
                                                    <div class="modal fade" th:id="'SuaChiPhiId' +  ${cp.chiPhiDTO.maChiPhi}" tabindex="-1" role="dialog"
                                                         aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                        <div class="modal-dialog" role="document">
                                                            <div class="modal-content">
                                                                <div class="modal-header">
                                                                    <h3 class="modal-title" id="exampleModalLabel"
                                                                        style="margin: auto;">Thông tin chi phí</h3>
                                                                </div>
                                                                <div class="modal-body">
                                                                    <form id="suaChiPhi" method="post" th:action="@{/doan/thietlap/suaChiPhi}">
                                                                        <div class="form-group">
                                                                            <label >Mã chi phí <span
                                                                                    class="text-danger">*</span></label>
                                                                            <div class="input-group">
                                                                                <input type="hidden" name="maDoan" th:value="${cp.chiPhiDTO.maDoan}">
                                                                                <input th:value="${cp.chiPhiDTO.maChiPhi}" type="text"
                                                                                       name="maChiPhi"
                                                                                       class="form-control"
                                                                                       placeholder="Số liệu tự cấp phát.."
                                                                                       readonly="readonly">
                                                                            </div>
                                                                        </div>
                                                                        <div class="form-group">
                                                                            <label >Loại chi phí <span
                                                                                    class="text-danger">*</span></label>
                                                                            <select class="form-control" name="maLoaiChiPhi"
                                                                                    required>
                                                                                <!-- làm tương tự như bên tourUpdate -->
                                                                                <option th:each="l : ${loaiChiPhiDTOs}"
                                                                                        th:value="${l.maLoaiChiPhi}"
                                                                                        th:text="${l.maLoaiChiPhi} + ' - ' + ${l.tenLoai}"
                                                                                        th:if="${cp.chiPhiDTO.maLoaiChiPhi} == ${l.maLoaiChiPhi}"
                                                                                        selected></option>
                                                                                <option th:each="l : ${loaiChiPhiDTOs}"
                                                                                        th:value="${l.maLoaiChiPhi}"
                                                                                        th:text="${l.maLoaiChiPhi} + ' - ' + ${l.tenLoai}"
                                                                                        th:unless="${cp.chiPhiDTO.maLoaiChiPhi} == ${l.maLoaiChiPhi}"
                                                                                        selected></option>
                                                                            </select>
                                                                        </div>
                                                                        <div class="form-group">
                                                                            <label >Thành tiền <span
                                                                                    class="text-danger">*</span></label>
                                                                            <input th:value="${cp.chiPhiDTO.soTien}" type="number"
                                                                                   name="thanhTien" class="form-control"
                                                                                   placeholder="Nhập giá..." required>
                                                                        </div>
                                                                        <div class="form-group">
                                                                            <label >Ghi chú <span class="text-danger">*</span></label>
                                                                            <!--Không dùng được textarea-->
                                                                            <input class="form-control h-150px" rows="4"
                                                                                      name="chiTiet" th:value="${cp.chiPhiDTO.ghiChu}"></input>
                                                                        </div>
                                                                        <button type="button" class="btn btn-danger"
                                                                                data-dismiss="modal">Cancel
                                                                        </button>
                                                                        <input type="submit" value="Sửa chi phí"
                                                                               name="suaChiPhi" class="btn btn-success"
                                                                               style="float:right;">
                                                                    </form>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="modal fade" th:id="'XoaChiPhiId' + ${cp.chiPhiDTO.maChiPhi}" tabindex="-1" role="dialog"
                                                         aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                        <div class="modal-dialog" role="document">
                                                            <div class="modal-content">
                                                                <div class="modal-header">
                                                                    <h3 class="modal-title" id="exampleModalLabel"
                                                                        style="margin: auto;text-align: center;">Are you
                                                                        sure to delete this?</h3>
                                                                </div>
                                                                <div class="modal-footer" style="margin: auto;">
                                                                    <button type="button" class="btn btn-primary"
                                                                            data-dismiss="modal">Cancel
                                                                    </button>
                                                                    <form th:action="@{/doan/thietlap/xoaChiPhi}" method="post">
                                                                        <input type="hidden" name="maDoan" th:value="${maDoan}">
                                                                        <button name="maChiPhi" type="submit"
                                                                                class="btn btn-danger" th:value="${cp.chiPhiDTO.maChiPhi}">
                                                                            Yes,
                                                                            delete it !
                                                                        </button>
                                                                    </form>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    </tbody>
                                                </div>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- #/ container -->
    </div>
    <script th:inline="javascript">
        function CapPhatMaChiPhi() {
            $('#machiphi').val([[${capPhatMaChiPhi}]]);
            $('#btn-chi-phi').prop('disabled', true);
        }
    </script>


    <!--**********************************
        Content body end
    ***********************************-->
    <div th:insert="inc/footer"></div>
</div>
</body>

</html>
