<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="inc/header">
    <meta charset="UTF-8">
    <title>Dashboard</title>
</head>
<body>
<div id="main-wrapper">
    <div th:insert="inc/form-layout"></div>
    <!--**********************************
        Content body start
    ***********************************-->

    <div class="content-body">
        <div class="container-fluid mt-3">
            <div class="row">
                <div class="col-lg-3 col-sm-6">
                    <div class="card gradient-1">
                        <div class="card-body">
                            <h3 class="card-title text-white">Số Tour</h3>
                            <div class="d-inline-block">
                                <h2 class="text-white"></h2>
                                <a>
                                    <p th:if="${soTour}" class="text-white mb-0" th:text="${soTour}"></p>
                                </a>
                            </div>
                            <span class="float-right display-5 opacity-5"><i class="fa fa-map"></i></span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="card gradient-2">
                        <div class="card-body">
                            <h3 class="card-title text-white">Số Đoàn</h3>
                            <div class="d-inline-block">
                                <h2 class="text-white"></h2>
                                <a>
                                    <p th:if="${soDoan}" class="text-white mb-0" th:text="${soDoan}"></p>
                                </a>
                            </div>
                            <span class="float-right display-5 opacity-5"><i class="fa fa-tags"></i></span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="card gradient-3">
                        <div class="card-body">
                            <h3 class="card-title text-white">Số Nhân viên</h3>
                            <div class="d-inline-block">
                                <h2 class="text-white"></h2>
                                <a>
                                    <p th:if="${soNhanVien}" class="text-white mb-0" th:text="${soNhanVien}"></p>
                                </a>
                            </div>
                            <span class="float-right display-5 opacity-5"><i class="fa fa-users"></i></span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="card gradient-4">
                        <div class="card-body">
                            <h3 class="card-title text-white">Số Khách hàng</h3>
                            <div class="d-inline-block">
                                <h2 class="text-white"></h2>
                                <a>
                                    <p th:if="${soKhach}" class="text-white mb-0" th:text="${soKhach}"></p>
                                </a>
                            </div>
                            <span class="float-right display-5 opacity-5"><i class="fa fa-users"></i></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="card-title">
                                <h3>Đoàn đang đi</h3>
                                <div class="alert alert-primary" role="alert" th:text="${success}"
                                     th:if="${success}"></div>
                                <div class="alert alert-danger" role="alert" th:text="${error}"
                                     th:if="${error}"></div>
                            </div>
                            <div class="table-responsive">
                                <table class="table table-bordered table-striped table-hover zero-configuration dataTable"
                                       id="DataTable">
                                    <thead class="text-primary">
                                    <tr>
                                        <th style="width:5%;" class="th-center-bold">#</th>
                                        <th style="width:10%;" class="th-center-bold">Mã đoàn</th>
                                        <th style="width:25%;" class="th-center-bold">Tên đoàn</th>
                                        <th style="width:12%;" class="th-center-bold">Giá đoàn</th>
                                        <th style="width:14%;" class="th-center-bold">Ngày bắt đầu</th>
                                        <th style="width:14%;" class="th-center-bold">Ngày kết thúc</th>
                                        <th style="width:10%;" class="th-center-bold">Chi tiết</th>
                                        <th style="width:5%;" class="th-center-bold">Sửa</th>
                                        <th style="width:5%;" class="th-center-bold">Xóa</th>
                                    </tr>
                                    </thead>
                                    <div th:if="${doanDuLichDTOStmp}">
                                        <tbody th:each="d: ${doanDuLichDTOStmp}" id="table-order-body">
                                        <tr>
                                            <td th:text="${doanDuLichDTOStmp.indexOf(d)} + 1"></td>
                                            <td th:text="${d.maDoan}"></td>
                                            <td th:text="${d.tenDoan}"></td>
                                            <td th:text="${d.giaTour}"></td>
                                            <td th:text="${d.ngayKhoiHanh}"></td>
                                            <td th:text="${d.ngayKetThuc}"></td>
                                            <td class="td-center" style="width:5%;">
                                                <a href="#">
                                                    <button type="button" class="btn btn-primary" data-toggle="modal"
                                                            th:data-target="'#ChiTietDoan' + ${d.maDoan}"><i class="fa fa-info"></i>
                                                    </button>
                                                </a>
                                            </td>
                                            <td class="td-center">
                                                <form method="get" th:action="@{/doan/sua}">
                                                    <input th:value="${d.maDoan}" type="hidden" name="id"/>
                                                    <button class="btn btn-primary"><i class="fa fa-pencil"></i>
                                                    </button>
                                                </form>
                                            </td>
                                            <td class="td-center" style="width:5%;">
                                                <a>
                                                    <button type="button" class="btn btn-primary" data-toggle="modal"
                                                            th:data-target="'#XoaDoanId' + ${d.maDoan}"><i class="fa fa-close"></i>
                                                    </button>
                                                </a>
                                            </td>
                                        </tr>
                                        <div class="modal fade bd-example-modal-lg" th:id="'ChiTietDoan' + ${d.maDoan}" tabindex="-1" role="dialog"
                                             aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                                            <div class="modal-dialog modal-lg" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h4 class="modal-title" id="exampleModalLongTitle" style="color:#7571f9;">Thông tin
                                                            đoàn</h4>
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                                                aria-hidden="true">&times;</span></button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <div class="row">
                                                                    <div class="col-md-6" style="margin-bottom: 10px">
                                                                        <h6 style="color:#ea5774;font-weight:500;">Mã đoàn:</h6>
                                                                        <p th:text="${d.maDoan}"></p>
                                                                    </div>
                                                                    <div class="col-md-6" style="margin-bottom: 10px">
                                                                        <h6 style="color:#ea5774;font-weight:500;">Tên đoàn:</h6>
                                                                        <p th:text="${d.tenDoan}"></p>
                                                                    </div>
                                                                    <div class="col-md-6" style="margin-bottom: 10px">
                                                                        <h6 style="color:#ea5774;font-weight:500;">Tour:</h6>
                                                                        <p th:text="${d.maTour}"></p>
                                                                    </div>
                                                                    <div class="col-md-6" style="margin-bottom: 10px">
                                                                        <h6 style="color:#ea5774;font-weight:500;">Giá đoàn:</h6>
                                                                        <p th:text="${d.giaTour}"></p>
                                                                    </div>
                                                                    <div class="col-md-6" style="margin-bottom: 10px">
                                                                        <h6 style="color:#ea5774;font-weight:500;">Ngày khởi hành:</h6>
                                                                        <p th:text="${d.ngayKhoiHanh}"></p>
                                                                    </div>
                                                                    <div class="col-md-6" style="margin-bottom: 10px">
                                                                        <h6 style="color:#ea5774;font-weight:500;">Ngày kết thúc:</h6>
                                                                        <p th:text="${d.ngayKetThuc}"></p>
                                                                    </div>
                                                                    <div class="col-md-6" style="margin-bottom: 10px">
                                                                        <h6 style="color:#ea5774;font-weight:500;">Chi tiết:</h6>
                                                                        <p th:text="${d.chiTietNoiDung}"></p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-outline-dark" data-dismiss="modal">Đóng</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="modal fade" th:id="'XoaDoanId' + ${d.maDoan}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                                             aria-hidden="true">
                                            <div class="modal-dialog" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h3 class="modal-title" id="exampleModalLabel" style="margin: auto;text-align: center;">
                                                            Bạn chắc chắn muốn xóa <br th:text="'đoàn ' + ${d.maDoan} + '?'">
                                                        </h3>
                                                    </div>
                                                    <div class="modal-footer" style="margin: auto;">
                                                        <button type="button" class="btn btn-outline-dark" data-dismiss="modal">Hủy</button>
                                                        <form method="post" th:action="@{/dashboard/xoa}">
                                                            <button name="id" type="submit" class="btn btn-primary" th:value="${d.maDoan}">Xóa đoàn
                                                            </button>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        </tbody>
                                    </div>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- #/ container -->
    </div>

    <!--**********************************
        Content body end
    ***********************************-->
    <div th:insert="inc/footer"></div>
</div>
</body>
</html>