<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:insert="inc/header">
    <title>Loại hình tour</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">

</head>

<body>
<div id="main-wrapper">
    <div th:insert="inc/form-layout"></div>
    <!--**********************************
        Content body start
    ***********************************-->

    <div class="content-body">
        <div class="row page-titles mx-0">
            <div class="col p-md-0">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
                    <li class="breadcrumb-item active">Quản lý Loại hình tour</li>
                </ol>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-4 col-md-12">
                    <div class="card">
                        <div class="card-body">
                            <div th:if="${loaiHinhTourDTO}">
                                <div class="card-title mb-3">
                                    <h4>SỬA PHÒNG BAN</h4>
                                </div>
                                <form th:action="@{/sualoaihinhtour}" th:object="${loaiHinhTourDTO}" method="post">
                                    <div class="form-group">
                                        <label>Mã loại hình <span class="text-danger">*</span></label>
                                        <input th:value="${loaiHinhTourDTO.maLoai}" type="text"  th:field="*{maLoai}"
                                               class="form-control" placeholder="Số liệu tự cấp phát.."
                                               readonly="readonly">
                                    </div>
                                    <div class="form-group">
                                        <label>Tên loại hình <span class="text-danger">*</span></label>
                                        <input th:value="${loaiHinhTourDTO.tenLoai}" type="text" th:field="*{tenLoai}"
                                               class="form-control" placeholder="Nhập tên loại.." required>
                                    </div>
                                    <input type="submit" value="Sửa thông tin" name="sua" class="btn btn-primary">
                                    <a href="loaihinhtour" style="float: right;">
                                        <button type="button" class="btn btn-danger">Hủy</button>
                                    </a>
                                </form>
                            </div>
                            <div th:unless="${loaiHinhTourDTO}">
                                <div class="card-title mb-3">
                                    <h4>THÊM LOẠI HÌNH TOUR</h4>
                                </div>
                                <form method="post">
                                    <div class="form-group">
                                        <label>Mã loại hình <span class="text-danger">*</span></label>
                                        <div class="input-group">
                                            <input type="text" name="LoaiHinhTourId" id="malht" class="form-control"
                                                   placeholder="Số liệu tự cấp phát.." readonly="readonly">
                                            <div class="input-group-append">
                                                <button id="btn-lht" class="btn btn-outline-dark" type="button"
                                                        onclick="CapPhatMaLHT()"><i class="fa fa-plus"></i></button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label>Tên loại hình <span class="text-danger">*</span></label>
                                        <input type="text" name="TenLoaiHinhTour" class="form-control"
                                               placeholder="Nhập tên loại hình.." required>
                                    </div>
                                    <input type="submit" value="Thêm mới" name="themmoi" class="btn btn-primary">
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8 col-md-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="card-title">
                                <div class="col-md-12 mb-4">
                                    <h4>DANH SÁCH LOẠI HÌNH TOUR</h4>
                                    <!--@if (ViewBag.ErrorRemove == "yes")
                                    {
                                        <p class="td-center" style="color:red;">@ViewBag.Remove</p>
                                    }
                                    else
                                    {
                                        <p class="td-center" style="color:green;">@ViewBag.Remove</p>
                                    }-->
                                </div>
                            </div>
                            <div class="table-responsive">
                                <table id="DataTable"
                                       class="table table-bordered table-hover zero-configuration dataTable">
                                    <thead class="text-primary">
                                    <tr>
                                        <th class="th-center-bold">#</th>
                                        <th class="th-center-bold">Mã loại hình/th>
                                        <th class="th-center-bold">Tên loại hình</th>
                                        <th class="th-center-bold">Sửa</th>
                                        <th class="th-center-bold">Xóa</th>
                                    </tr>
                                    </thead>
                                    <div th:if="${loaiHinhTourDTOs}">
                                        <tbody th:each="loaiHinhTour : ${loaiHinhTourDTOs}" th:remove="tag">
                                        <!--@if (Model.phongBanDTOs.Count == 0)
                                        {
                                            <tr><th colspan="6"><p class="td-center" style="color:red;">Not found</p></th></tr>
                                        }
                                        else
                                        {
                                            @foreach (PhongBanDTO phongban in Model.phongBanDTOs)
                                            {-->
                                        <tr>
                                            <td th:text="${loaiHinhTourDTOs.indexOf(loaiHinhTour) + 1}"></td>
                                            <td th:text="${loaiHinhTour.maLoai}"></td>
                                            <td th:text="${loaiHinhTour.tenLoai}"></td>
                                            <td class="td-center">
                                                <form th:action="@{/loaihinhtour}" method="post">
                                                    <input th:value="${loaiHinhTour.maLoai}" type="hidden" name="id"/>
                                                    <button type="submit" class="btn btn-primary"><i
                                                            class="fa fa-pencil"></i></button>
                                                </form>
                                            </td>
                                            <td class="td-center">
                                                <button type="button" class="btn btn-primary" data-toggle="modal"
                                                        th:data-target="'#LoaiHinhTourId' + ${loaiHinhTour.maLoai}">
                                                    <i class="fa fa-close"></i>
                                                </button>
                                            </td>
                                        </tr>

                                        <div class="modal fade" th:id="'LoaiHinhTourId' + ${loaiHinhTour.maLoai}"
                                             tabindex="-1" role="dialog"
                                             aria-labelledby="exampleModalLabel" aria-hidden="true">
                                            <div class="modal-dialog" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h3 class="modal-title" id="exampleModalLabel"
                                                            style="margin: auto;text-align: center;">Bạn chắc chắn muốn
                                                            xoá<br th:text="'loại hình tour ' + ${loaiHinhTour.maLoai} + '?'">
                                                        </h3>
                                                    </div>
                                                    <div class="modal-footer" style="margin: auto;">
                                                        <button type="button" class="btn btn-primary"
                                                                data-dismiss="modal">Hủy
                                                        </button>
                                                        <form method="post">
                                                            <button name="id" type="submit" class="btn btn-danger"
                                                                    value="LoaiHinhTourId">Xóa loại hình
                                                            </button>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        </tbody>
                                    </div>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- #/ container -->
    </div>
    <script th:inline="javascript">
        function CapPhatMaLHT() {
            $('#malht').val("000001");
            $('#btn-lht').prop('disabled', true);
        }
    </script>

    <!--**********************************
        Content body end
    ***********************************-->
    <div th:insert="inc/footer"></div>
</div>
</body>

</html>
