<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:insert="inc/header">
    <title>Thống kê doanh thu</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">

</head>

<body>
<div id="main-wrapper">
    <div th:insert="inc/form-layout"></div>

    <!--**********************************
        Content body start
    ***********************************-->

    <div class="content-body">

        <div class="row page-titles mx-0">
            <div class="col p-md-0">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a th:href="@{/index}">Dashboard</a></li>
                    <li class="breadcrumb-item active">Thống kê doanh thu</li>
                </ol>
            </div>
        </div>
        <!-- row -->

        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="card-title row">
                                <div class="col-md-12 mb-4">
                                    <h3 class="td-center">THỐNG KÊ DOANH THU</h3>
                                </div>
                                <div class="col-md-12">
                                    <form method="post" th:action="@{/thongkeDoanhthu/thongketheotg}">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="ngaybd">Ngày bắt đầu <span class="text-danger">*</span></label>
                                                    <div class="input-group">
                                                        <input type="text" class="form-control mydatepicker"
                                                               name="NgayBD" placeholder="mm/dd/yyyy" required>
                                                        <span class="input-group-append"><span class="input-group-text"><i
                                                                class="mdi mdi-calendar-check"></i></span></span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="ngaykt">Ngày kết thúc <span class="text-danger">*</span></label>
                                                    <div class="input-group">
                                                        <input type="text" class="form-control mydatepicker"
                                                               name="NgayKT" placeholder="mm/dd/yyyy" required>
                                                        <span class="input-group-append"><span class="input-group-text"><i
                                                                class="mdi mdi-calendar-check"></i>
                                                        </span></span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-12 td-center">
                                                <!--<a asp-controller="QuanLyNhanVien" asp-action="Index" style="float:right;"><button class="btn btn-primary">Quay lại <i class="fa fa-undo" aria-hidden="true"></i></button></a>-->
                                                <input type="submit" value="Thống kê" name="thongke"
                                                       class="btn btn-primary">

                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="table-responsive">
                                <table id="DataTable" class="table table-bordered table-hover zero-configuration">
                                    <thead class="text-primary">
                                    <tr>
                                        <th style="width:10%;" class="th-center-bold">#</th>
                                        <th style="width:15%;" class="th-center-bold">Mã tour</th>
                                        <th style="width:20%;" class="th-center-bold">Tên tour</th>
                                        <th style="width:15%;" class="th-center-bold">Số đoàn</th>
                                        <th style="width:15%;" class="th-center-bold">Tổng chi phí</th>
                                        <th style="width:15%;" class="th-center-bold">Tổng doanh thu</th>
                                        <th style="width:10%;" class="th-center-bold">Chi tiết</th>
                                    </tr>
                                    </thead>
                                    <div th:if="${thongkeTours}">
                                        <tbody th:each="tour : ${thongkeTours}" th:remove="tag">
                                        <tr>
                                            <td class="td-center" style="width:10%;"
                                                th:text="${thongkeTours.indexOf(tour)+1}"></td>
                                            <td class="td-center" style="width:15%;" th:name="maTour"
                                                th:text="${tour.tourDTO.maTour}"></td>
                                            <td class="td-center" style="width:20%;"
                                                th:text="${tour.tourDTO.tenTour}"></td>
                                            <td class="td-center" style="width:15%;" th:text="${tour.SoDoan}"></td>
                                            <td class="td-center" style="width:15%;" th:text="${tour.TongChiPhi}"></td>
                                            <td class="td-center" style="width:15%;"
                                                th:text="${tour.TongDoanhThu}"></td>
                                            <td class="td-center" style="width:10%;">
                                                <a href="#">
                                                    <button type="button" class="btn btn-primary" data-toggle="modal"
                                                            th:data-target="'#ChiTietTour' + ${tour.tourDTO.maTour}">
                                                        <i class="fa fa-info"></i></button>
                                                </a>
                                            </td>
                                        </tr>
                                        <!-- đưa model vào đây -->
                                        </tbody>
                                    </div>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--@foreach (QuanLyNhanVien quanLyNhanVien1 in Model)
            {-->
            <div th:if="${thongkeTours}">
                <div th:each="tour : ${thongkeTours}">
                    <div class="modal fade bd-example-modal-lg" th:id="'ChiTietTour' + ${tour.tourDTO.maTour}"
                         tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                        <div class="modal-dialog modal-lg" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title" id="exampleModalLongTitle" style="color:#7571f9;">Chi tiết
                                        doanh thu đoàn</h4>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                            aria-hidden="true">&times;</span></button>
                                </div>
                                <div class="modal-body">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="row">
                                                <div class="table-responsive">
                                                    <table class="table table-bordered table-hover">
                                                        <thead class="text-primary">
                                                        <tr>
                                                            <th style="width:5%;" class="th-center-bold">#</th>
                                                            <th style="width:10%;" class="th-center-bold">Mã đoàn</th>
                                                            <th style="width:20%;" class="th-center-bold">Tên đoàn</th>
                                                            <th style="width:10%;" class="th-center-bold">Giá đoàn</th>
                                                            <th style="width:12%;" class="th-center-bold">Ngày khởi
                                                                hành
                                                            </th>
                                                            <th style="width:12%;" class="th-center-bold">Ngày kết
                                                                thúc
                                                            </th>
                                                            <th style="width:7%;" class="th-center-bold">Số khách</th>
                                                            <th style="width:12%;" class="th-center-bold">Chi phí</th>
                                                            <th style="width:12%;" class="th-center-bold">Doanh thu</th>
                                                        </tr>
                                                        </thead>
                                                        <tbody th:each=" doan : ${tour.listDoan}">
                                                        <tr>
                                                            <td class="td-center" style="width:5%;"
                                                                th:text="${tour.listDoan.indexOf(doan)+1}"></td>
                                                            <td class="td-center" style="width:10%;"
                                                                th:text="${doan.doanDuLichDTO.maDoan}"></td>
                                                            <td style="width:20%;"
                                                                th:text="${doan.doanDuLichDTO.tenDoan}"></td>
                                                            <td class="td-center" style="width:10%;"
                                                                th:text="${doan.doanDuLichDTO.giaTour}"></td>
                                                            <td class="td-center" style="width:12%;"
                                                                th:text="${doan.doanDuLichDTO.ngayKhoiHanh}"></td>
                                                            <td class="td-center" style="width:12%;"
                                                                th:text="${doan.doanDuLichDTO.ngayKetThuc}"></td>
                                                            <td class="td-center" style="width:7%;"
                                                                th:text="${doan.SoKhach}"></td>
                                                            <td class="td-center" style="width:12%;"
                                                                th:text="${doan.ChiPhi}"></td>
                                                            <td class="td-center" style="width:12%;"
                                                                th:text="${doan.DoanhThu}"></td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-outline-dark" data-dismiss="modal">Đóng</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- #/ container -->
            </div>
        </div>
    </div>
    <!--**********************************
        Content body end
    ***********************************-->
    <div th:insert="inc/footer"></div>
</div>
</body>

</html>
