<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:insert="inc/header">
    <title>Thiết lập Tour</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">

</head>

<body>
<div id="main-wrapper">
    <div th:insert="inc/form-layout"></div>

    <!--**********************************
    Content body start
***********************************-->

    <div class="content-body">

        <div class="row page-titles mx-0">
            <div class="col p-md-0">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a>Dashboard</a></li>
                    <li class="breadcrumb-item"><a th:href="@{/tour}">Quản lý tour</a></li>
                    <li class="breadcrumb-item active"><a>Thiết lập tour</a></li>
                </ol>
            </div>
        </div>
        <!-- row -->

        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-lg-12 mb-3">
                                    <a th:href="@{/tour}" style="float:left;">
                                        <button class="btn btn-primary"><i class="fa fa-arrow-left"
                                                                           aria-hidden="true"></i> Quay lại
                                        </button>
                                    </a>
                                </div>
                            </div>
                            <ul class="nav nav-pills mb-3">
                                <li class="nav-item">
                                    <a href="#navpills-1" class="nav-link active" data-toggle="tab"
                                       aria-expanded="false">Thông tin giá tour</a>
                                </li>
                                <li class="nav-item">
                                    <a href="#navpills-2" class="nav-link" data-toggle="tab" aria-expanded="false">Thông
                                        tin địa điểm tour</a>
                                </li>
                            </ul>
                            <div class="tab-content br-n pn mt-4">
                                <div class="alert alert-primary" role="alert" th:text="${success}"
                                     th:if="${success}"></div>
                                <div class="alert alert-danger" role="alert" th:text="${error}"
                                     th:if="${error}"></div>
                                <!--*****
                                Tab 1
                                *****-->
                                <div id="navpills-1" class="tab-pane active">
                                    <div class="row align-items-center">
                                        <div class="col-md-6">
                                            <h4 style="float:left;">DANH SÁCH GIÁ TOUR</h4>
                                        </div>
                                        <div class="col-md-6">
                                            <button class="btn btn-primary" style="float:right;" data-toggle="modal"
                                                    data-target="#ThemGia"><span
                                                    style="margin-right: 10px">Thêm mới </span><i
                                                    class="fa fa-plus"></i></button>
                                        </div>
                                        <div class="modal fade" id="ThemGia" tabindex="-1" role="dialog"
                                             aria-labelledby="exampleModalLabel" aria-hidden="true">
                                            <div class="modal-dialog" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h3 class="modal-title" id="exampleModalLabelThemGia"
                                                            style="margin: auto;">Thông tin giá</h3>
                                                    </div>
                                                    <div class="modal-body">
                                                        <form method="post" th:action="@{/tour/thietlap/themGia}">
                                                            <div class="form-group">
                                                                <label for="magia">Mã giá <span
                                                                        class="text-danger">*</span></label>
                                                                <div class="input-group">
                                                                    <input th:if="${maTour}" th:value="${maTour}"
                                                                           type="hidden" name="maTour"/>
                                                                    <input type="text" name="maGia" id="maGia"
                                                                           class="form-control"
                                                                           placeholder="Số liệu tự cấp phát.."
                                                                           readonly="readonly">
                                                                    <div class="input-group-append">
                                                                        <button id="btn-gia"
                                                                                class="btn btn-outline-dark"
                                                                                type="button" onclick="CapPhatMaGia()">
                                                                            <i class="fa fa-plus"></i></button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <label>Giá tour <span
                                                                        class="text-danger">*</span></label>
                                                                <input type="number" name="giaTour" class="form-control"
                                                                       placeholder="Nhập giá..." required>
                                                            </div>
                                                            <div class="form-group">
                                                                <label>Ngày bắt đầu <span
                                                                        class="text-danger">*</span></label>
                                                                <div class="input-group">
                                                                    <input type="text" class="form-control mydatepicker"
                                                                           name="ngayBD" placeholder="mm/dd/yyyy"
                                                                           required> <span
                                                                        class="input-group-append"><span
                                                                        class="input-group-text"><i
                                                                        class="mdi mdi-calendar-check"></i></span></span>
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <label>Ngày kết thúc <span class="text-danger">*</span></label>
                                                                <div class="input-group">
                                                                    <input type="text" class="form-control mydatepicker"
                                                                           name="ngayKT" placeholder="mm/dd/yyyy"
                                                                           required> <span
                                                                        class="input-group-append"><span
                                                                        class="input-group-text"><i
                                                                        class="mdi mdi-calendar-check"></i></span></span>
                                                                </div>
                                                            </div>
                                                            <button type="button" class="btn btn-outline-dark"
                                                                    data-dismiss="modal">Hủy
                                                            </button>
                                                            <input type="submit" value="Thêm mới" name="themmoi"
                                                                   class="btn btn-primary" style="float:right;">
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="table-responsive">
                                            <table class="table table-bordered table-hover zero-configuration dataTable">
                                                <thead class="text-primary">
                                                <tr>
                                                    <th class="th-center-bold">#</th>
                                                    <th class="th-center-bold">Mã giá</th>
                                                    <th class="th-center-bold">Giá tiền</th>
                                                    <th class="th-center-bold">Ngày bắt đầu</th>
                                                    <th class="th-center-bold">Ngày kết thúc</th>
                                                    <th class="th-center-bold">Áp dụng</th>
                                                    <th class="th-center-bold">Sửa</th>
                                                    <th class="th-center-bold">Xóa</th>
                                                </tr>
                                                </thead>
                                                <div th:if="${giaTourDTOs}">
                                                    <tbody th:each="giatour : ${giaTourDTOs}" th:remove="tag">
                                                    <!--@if (Model.phongBanDTOs.Count == 0)
                                                {
                                                    <tr><th colspan="6"><p class="td-center" style="color:red;">Not found</p></th></tr>
                                                }
                                                else
                                                {
                                                    @foreach (PhongBanDTO phongban in Model.phongBanDTOs)
                                                    {-->
                                                    <tr>
                                                        <td th:text="${giaTourDTOs.indexOf(giatour)} + 1"></td>
                                                        <td th:text="${giatour.maGia}"></td>
                                                        <td th:text="${giatour.thanhTien}"></td>
                                                        <td th:text="${giatour.tgBatDau}"></td>
                                                        <td th:text="${giatour.tgKetThuc}"></td>
                                                        <td class="td-center">
                                                            <form method="post" th:action="@{/tour/apdunggiatour}">
                                                                <input th:value="${giatour.maTour}" type="hidden"
                                                                       name="maTour"/>
                                                                <input th:value="${giatour.maGia}" type="hidden"
                                                                       name="maGia"/>
                                                                <button type="submit" class="btn btn-primary"
                                                                        th:if="${giatour.hienHanh} == 1" disabled>
                                                                    <i class="fa fa-check"></i>
                                                                </button>
                                                                <button type="submit" class="btn btn-primary"
                                                                        th:unless="${giatour.hienHanh} == 1">
                                                                    <i class="fa fa-check"></i>
                                                                </button>
                                                            </form>
                                                        </td>
                                                        <td class="td-center">
                                                            <button type="button" class="btn btn-primary"
                                                                    data-toggle="modal"
                                                                    th:data-target="'#SuaGiaTourId' + ${giatour.maGia}">
                                                                <i class="fa fa-pencil"></i>
                                                            </button>
                                                        </td>
                                                        <td class="td-center">
                                                            <button type="button" class="btn btn-primary"
                                                                    data-toggle="modal"
                                                                    th:data-target="'#XoaGiaTourId' + ${giatour.maGia}">
                                                                <i class="fa fa-close"></i>
                                                            </button>
                                                        </td>
                                                    </tr>
                                                    <div class="modal fade" th:id="'SuaGiaTourId' + ${giatour.maGia}"
                                                         tabindex="-1"
                                                         role="dialog" aria-labelledby="exampleModalLabel"
                                                         aria-hidden="true">
                                                        <div class="modal-dialog" role="document">
                                                            <div class="modal-content">
                                                                <div class="modal-header">
                                                                    <h3 class="modal-title" id="exampleModalLabelSuaGia"
                                                                        style="margin: auto;">Thông tin giá</h3>
                                                                </div>
                                                                <div class="modal-body">
                                                                    <form method="post"
                                                                          th:action="@{/tour/thietlap/suaGia}">
                                                                        <div class="form-group">
                                                                            <label for="magia">Mã giá <span
                                                                                    class="text-danger">*</span></label>
                                                                            <div class="input-group">
                                                                                <input th:value="${giatour.maTour}"
                                                                                       type="hidden" name="maTour"/>
                                                                                <input th:value="${giatour.maGia}"
                                                                                       type="text"
                                                                                       name="maGia"
                                                                                       class="form-control"
                                                                                       placeholder="Số liệu tự cấp phát.."
                                                                                       readonly="readonly">
                                                                            </div>
                                                                        </div>
                                                                        <div class="form-group">
                                                                            <label>Giá tour <span
                                                                                    class="text-danger">*</span></label>
                                                                            <input th:value="${giatour.thanhTien}"
                                                                                   type="number"
                                                                                   name="giaTour" class="form-control"
                                                                                   placeholder="Nhập giá..." required>
                                                                        </div>
                                                                        <div class="form-group">
                                                                            <label>Ngày bắt đầu <span
                                                                                    class="text-danger">*</span></label>
                                                                            <div class="input-group">
                                                                                <input th:value="${giatour.tgBatDau}"
                                                                                       type="text"
                                                                                       class="form-control mydatepicker"
                                                                                       name="ngayBD"
                                                                                       placeholder="mm/dd/yyyy"
                                                                                       required> <span
                                                                                    class="input-group-append"><span
                                                                                    class="input-group-text"><i
                                                                                    class="mdi mdi-calendar-check"></i></span></span>
                                                                            </div>
                                                                        </div>
                                                                        <div class="form-group">
                                                                            <label>Ngày kết thúc <span
                                                                                    class="text-danger">*</span></label>
                                                                            <div class="input-group">
                                                                                <input th:value="${giatour.tgKetThuc}"
                                                                                       type="text"
                                                                                       class="form-control mydatepicker"
                                                                                       name="ngayKT"
                                                                                       placeholder="mm/dd/yyyy"
                                                                                       required> <span
                                                                                    class="input-group-append"><span
                                                                                    class="input-group-text"><i
                                                                                    class="mdi mdi-calendar-check"></i></span></span>
                                                                                <input th:value="${giatour.hienHanh}"
                                                                                       type="hidden" name="hienHanh"/>
                                                                            </div>
                                                                        </div>
                                                                        <button type="button" class="btn btn-outline-dark"
                                                                                data-dismiss="modal">Hủy
                                                                        </button>
                                                                        <input type="submit" value="Sửa thông tin"
                                                                               name="themmoi" class="btn btn-primary"
                                                                               style="float:right;">
                                                                    </form>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="modal fade" th:id="'XoaGiaTourId' + ${giatour.maGia}"
                                                         tabindex="-1"
                                                         role="dialog" aria-labelledby="exampleModalLabel"
                                                         aria-hidden="true">
                                                        <div class="modal-dialog" role="document">
                                                            <div class="modal-content">
                                                                <div class="modal-header">
                                                                    <h3 class="modal-title" id="exampleModalLabelXoaGia"
                                                                        style="margin: auto;text-align: center;">Bạn
                                                                        chắc chắn muốn xoá <br
                                                                                th:text="'mã giá ' + ${giatour.maGia} + '?'">
                                                                    </h3>
                                                                </div>
                                                                <div class="modal-footer" style="margin: auto;">
                                                                    <button type="button" class="btn btn-outline-dark"
                                                                            data-dismiss="modal">Hủy
                                                                    </button>
                                                                    <form method="post"
                                                                          th:action="@{/tour/thietlap/xoaGia}">
                                                                        <input th:value="${giatour.maTour}"
                                                                               type="hidden" name="maTour"/>
                                                                        <button name="maGia" type="submit"
                                                                                class="btn btn-primary"
                                                                                th:value="${giatour.maGia}">Xóa loại chi
                                                                            phí
                                                                        </button>
                                                                        <input th:value="${giatour.hienHanh}"
                                                                               type="hidden" name="hienHanh"/>
                                                                    </form>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    </tbody>
                                                </div>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <!--*****
                            Tab 2
                            *****-->
                                <div id="navpills-2" class="tab-pane">
                                    <div class="row align-items-center">
                                        <div class="col-md-6">
                                            <h4 style="float:left;">DANH SÁCH ĐỊA ĐIỂM TOUR</h4>
                                        </div>
                                        <div class="col-md-6">
                                            <button class="btn btn-primary" style="float:right;" data-toggle="modal"
                                                    data-target="#ThemDiaDiem"><span
                                                    style="margin-right: 10px">Thêm mới </span><i
                                                    class="fa fa-plus"></i></button>
                                        </div>
                                        <div class="modal fade" id="ThemDiaDiem" tabindex="-1" role="dialog"
                                             aria-labelledby="exampleModalLabel" aria-hidden="true">
                                            <div class="modal-dialog" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h3 class="modal-title" id="exampleModalLabelThemDiaDiem"
                                                            style="margin: auto;">Thông tin địa điểm</h3>
                                                    </div>
                                                    <div class="modal-body">
                                                        <form th:if="${diaDiemDTOs} and ${maTour}" th:action="@{/tour/thietlap/themDiaDiemThamQuan}" method="post">
                                                            <div class="form-group">
                                                                <label>Địa điểm <span
                                                                        class="text-danger">*</span></label>
                                                                <input th:value="${maTour}"
                                                                       type="hidden" name="maTour"/>
                                                                <select class="form-control" name="maDiaDiem" required>
                                                                    <option value="">-- Chọn địa điểm --</option>
                                                                    <!-- for danh sách địa điểm -->
                                                                    <option th:each="diaDiem: ${diaDiemDTOs}"
                                                                            th:value="${diaDiem.maDiaDiem}"
                                                                            th:text="${diaDiem.maDiaDiem} + ' - ' + ${diaDiem.tenDiaDiem}"></option>
                                                                </select>
                                                            </div>
                                                            <button type="button" class="btn btn-outline-dark"
                                                                    data-dismiss="modal">Hủy
                                                            </button>
                                                            <input type="submit" value="Thêm mới" name="themmoi"
                                                                   class="btn btn-primary" style="float:right;">
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="table-responsive">
                                            <table class="table table-bordered table-hover zero-configuration dataTable">
                                                <thead class="text-primary">
                                                <tr>
                                                    <th class="th-center-bold">#</th>
                                                    <th class="th-center-bold">Mã địa điểm</th>
                                                    <th class="th-center-bold">Tên địa điểm</th>
                                                    <th class="th-center-bold">Thứ tự</th>
                                                    <th class="th-center-bold">Xóa</th>
                                                </tr>
                                                </thead>
                                                <div th:if="${dataThietLaps}">
                                                    <tbody th:each="data: ${dataThietLaps}" th:remove="tag">
                                                    <!--@if (Model.phongBanDTOs.Count == 0)
                                                {
                                                    <tr><th colspan="6"><p class="td-center" style="color:red;">Not found</p></th></tr>
                                                }
                                                else
                                                {
                                                    @foreach (PhongBanDTO phongban in Model.phongBanDTOs)
                                                    {-->
                                                    <tr>
                                                        <td th:text="${dataThietLaps.indexOf(data)} + 1">1</td>
                                                        <td th:text="${data.diaDiemDTO.maDiaDiem}"></td>
                                                        <td th:text="${data.diaDiemDTO.tenDiaDiem}"></td>
                                                        <td th:text="${data.diaDiemThamQuanDTO.thuTu}"></td>
                                                        <td class="td-center">
                                                            <button type="button" class="btn btn-primary"
                                                                    data-toggle="modal"
                                                                    th:data-target="'#XoaDiaDiemId' + ${data.diaDiemDTO.maDiaDiem}">
                                                                <i class="fa fa-close"></i>
                                                            </button>
                                                        </td>
                                                    </tr>
                                                    <div class="modal fade" th:id="'XoaDiaDiemId' + ${data.diaDiemDTO.maDiaDiem}" tabindex="-1"
                                                         role="dialog"
                                                         aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                        <div class="modal-dialog" role="document">
                                                            <div class="modal-content">
                                                                <div class="modal-header">
                                                                    <h3 class="modal-title" id="exampleModalLabelXoaDiaDiem"
                                                                        style="margin: auto;text-align: center;">Bạn chắc chắn muốn xoá
                                                                    <br th:text="'địa điểm ' + ${data.diaDiemDTO.maDiaDiem} + '?'"></h3>
                                                                </div>
                                                                <div class="modal-footer" style="margin: auto;">
                                                                    <button type="button" class="btn btn-outline-dark"
                                                                            data-dismiss="modal">Hủy
                                                                    </button>
                                                                    <form method="post" th:action="@{/tour/thietlap/xoaDiaDiemThamQuan}">
                                                                        <input th:value="${data.diaDiemThamQuanDTO.maTour}"
                                                                               type="hidden" name="maTour"/>
                                                                        <button name="maDiaDiem" type="submit"
                                                                                class="btn btn-primary"
                                                                                th:value="${data.diaDiemThamQuanDTO.maDiaDiem}">Xóa địa điểm
                                                                        </button>
                                                                        <input th:value="${data.diaDiemThamQuanDTO.thuTu}"
                                                                               type="hidden" name="thuTu"/>
                                                                    </form>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    </tbody>
                                                </div>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- #/ container -->
    </div>
    <script th:inline="javascript">
        function CapPhatMaGia() {
            $('#maGia').val([[${capPhatMaGia}]]);
            $('#btn-gia').prop('disabled', true);
        }
    </script>


    <!--**********************************
    Content body end
***********************************-->
    <div th:insert="inc/footer"></div>
</div>
</body>

</html>
